<div>
  <!-- <li *ngFor="let course of courses">
    {{course.name}}
  </li> -->

  <!-- <li *ngFor="let course of courses; index as i">
     {{i}}-- {{course.name}} {{course.id}}
    </li> -->
    <!-- <button (click)="addCourse()">addCourse</button>
    <li *ngFor="let course of courses; trackBy:trackCourse">
        {{i}}-- {{course.name}} {{course.id}}
       </li>  --> -->

     <!-- <h1> Showing employee info</h1>
     {{employee.name}}<br>
     {{employee.address?.place}}   -->

     <!-- <button (click)="addCourse()">addCourse</button>
    <li *ngFor="let course of courses">
        {{course.id}}-- {{course.name}}
        <button (click)="removedCourse(course)">remove</button>
       </li> -->
       <input type="" appInbuildDrective>

</div>