<ul class="nav nav-pills">
    <li [class.active]="show=='list'"><a (click)="show='list'">list</a></li>
    <li [class.active]="show=='explain'"><a (click)="show='explain'">explain</a></li>
    </ul>

<div [ngSwitch]="show">

    <div *ngSwitchCase="'list'">
        yes it will display list
      </div>

      
      <div *ngSwitchCase="'explain'">
          <ul class="nav nav-pills">
              <li><a (click)="show='list'">list</a></li>
              <li><a (click)="show='explain'">explain</a></li>
              </ul>
     <li>gg</li>
     <li>ggj</li>
     <li>gjuygju</li>
      </div>
        
        
</div>
