<!-- <form ngForm #form="ngForm" (ngSubmit)="login(form)">
  <div class="form-groups">
    <label for="firstName">First name</label>

    <input 
      required
      ngModel
      name="firtName"
      #firtName="ngModel"
      (click)="log(firtname)"
      type="text" 
      class="form-control"
      minlength="10"
      maxlength="12"
      pattern="sidhant"
      >
  </div>
 <div *ngIf="firtName.touched && firtName.errors">
  <div class="alert alert-danger" *ngIf="firtName.errors?.required" > Please enter value</div>
  <div class="alert alert-danger" *ngIf="firtName.errors.minlength">minlength {{firtName.errors.minlength.requiredLength}} </div>
  <div class="alert alert-danger" *ngIf="!firtName.errors.minlength && firtName.errors.pattern">Pattern does not match{{firtName.errors.pattern.requiredPattern}} </div>
</div>

  <!<div *ngIf="firstName.touched && !firstName.valid">
   <div class="alert alert-danger">please eneter first name</div> 
  </div> -->

  <!-- <div class="form-groups">
    <label for="comment">Comment</label>

    <textarea required ngModel 
    name="comment" 
    #comment="ngModel"
    (change)="log1(comment)"

     class="form-control" id="" cols="30" rows="10" minlength="3" maxlength="5"></textarea>
  </div> -->

  <!-- <div *ngIf="comment.touched && comment.errors">
      <div class="alert alert-danger" *ngIf="comment.errors?.required" > Please enter value</div>
      <div class="alert alert-danger" *ngIf="comment.errors.minlength">minlength {{comment.errors.minlength.requiredLength}} </div>
      </div> -->
  <!-- <div class="alert alert-danger" *ngIf="comment.error?.input feild 3 required</div> -->



  <!-- <div>
    <button [disabled]="form.invalid" class="btn btn-primary">
    submit   
  </button>
</div>
</form>  -->