
<!-- <app-attributedemo></app-attributedemo> -->
<!-- <app-clickdemo></app-clickdemo> -->
<!-- <app-favorite></app-favorite> -->
<!-- <app-templatevari></app-templatevari> -->
<!-- <app-angularbinding></app-angularbinding> -->
<!-- <app-classbindingattrib></app-classbindingattrib> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-prac1bind></app-prac1bind>  -->
<!-- <app-prac2></app-prac2> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parentlikecompo></app-parentlikecompo> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-like2></app-like2> -->
<!-- <app-likeparent2></app-likeparent2> -->
<!-- <app-ng-class-binding></app-ng-class-binding> -->
<!-- <app-ng-class-binding></app-ng-class-binding> -->
<!-- <app-parentoutput></app-parentoutput> -->

<!-- <app-ngcontent><ng-content></ng-content></app-ngcontent> -->
<!-- <app-ngcontent><ng-container></ng-container>></app-ngcontent>  -->
<!-- <app-prac-child></app-prac-child> -->
<!-- <app-prac2></app-prac2> -->
<!-- <app-inbuildstructuraldirec></app-inbuildstructuraldirec>
<app-ngswitch></app-ngswitch> -->
<!-- <app-inbuild-directives> </app-inbuild-directives> --> 
<!-- <app-ngswitch></app-ngswitch>
<!- <app-ngswitch2></app-ngswitch2> -->
<!-- <app-switch3></app-switch3> -->
<!-- <appInbuildDirective2></appInbuildDirective2> -->

<!-- <input type="text " appInbuildDrective> -->
<!-- <app-attributedemo></app-attributedemo> -->
<!-- <app-clickdemo2></app-clickdemo2> -->
<!-- <app-clickdemo></app-clickdemo> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-clickdemo2></app-clickdemo2> -->
<!-- <app-templatedriven-form></app-templatedriven-form> -->

<!-- <app-bootstrap></app-bootstrap> -->

<app-ngfor></app-ngfor>